#navbar-h{
    padding-right: 10px;
}

.heroes-txtclr{
    color: teal;
    font-weight: 500;
}

/* 
.heroes-grid {
    display: grid;
    height: 90vh;
    background-image: url('./Assets/Heroes Wallpaper.jpeg');
    background-size: cover;
    background-position: center; 
  } */

  